# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environments
venv/
ENV/
.env

# IDE and Editor files
*.swp
*.sublime-project
*.sublime-workspace
.vscode/
.idea/